## Create a DataFrame/Series with a dict/list

In [1]:
import pandas as pd

In [2]:
d = {'Apples':[10, 20, 30], 'Bananas':[55, 66, 56], 'Candies':[6, 6, 6]}

In [3]:
df1 = pd.DataFrame(d)
df1

   Apples  Bananas  Candies
0      10       55        6
1      20       66        6
2      30       56        6

In [4]:
index = ['Day 1', 'Day 2', 'Day 3']

In [5]:
df2 = pd.DataFrame(data=d, index=index)
df2

       Apples  Bananas  Candies
Day 1      10       55        6
Day 2      20       66        6
Day 3      30       56        6

In [6]:
x = ['a', 'b', 'c']

In [7]:
series1 = pd.Series(x)
series1

0    a
1    b
2    c
dtype: object

In [8]:
series2 = pd.Series(data=x, index=index)
series2

Day 1    a
Day 2    b
Day 3    c
dtype: object

## Index a DataFrame with key and integer

In [9]:
df1['Bananas']

0    55
1    66
2    56
Name: Bananas, dtype: int64

In [10]:
df1.loc[:2, 'Bananas']

0    55
1    66
2    56
Name: Bananas, dtype: int64

In [11]:
df1.iloc[:2, 1]

0    55
1    66
Name: Bananas, dtype: int64